# dependencies
**/node_modules/

# environment variables
**/.envrc

# secrets
secrets/*
!secrets/README.md

# test coverage
**/coverage/

# Typescript compilation output files for libraries and applications
**/lib/
**/dist/
**/tsconfig.tsbuildinfo

# patterns to ignore when searching text with ag
# https://github.com/ggreer/the_silver_searcher
.ignore

# configuration for the npm registry on Artifact Registry
**/.npmrc
!.npmrc

# directories I publish to a npm registry (Artifact Registry, npm.js)
**/to-publish/

# directory containing protos.json of Google Cloud libraries (copied from node_modules when building with esbuild)
packages/scripts/protos/

.calva/
.clj-kondo/
.lsp/
